
*{
    padding: 0%;
    margin: 0%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    background-color: azure;

}
.phara{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    border: 2px solid rgba(0, 0, 0, 0.015);
    color: #000;
}

.container > div{
   justify-content: space-around; 
}

.movie-list{
    display: flex;
    flex-direction: column;
    border: 3px solid #faf2fb;
    border-radius: 10px;
    margin-left: 20px;
    padding: auto;
    width:auto;
    max-width: 30%;
    height: 30%;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    background-color:white;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    box-shadow: rgba(232, 233, 234, 0.625) inset;




}

.movie-list > div{
    display: flex;
    flex-direction: row;
    justify-content: inherit; 
    align-items: center;   
}
label{
    color: blue;
    
}
input[type=text]{
    color: red;
    font-size: medium;
}
input{   
background-color: rgba(250, 235, 215, 0.512);    
}




